{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="row text-center">
		<h1>Announcements</h1>
	</div>
	{% if user.admin %}
	<div class="row">
		<h3>Add</h3>
		<form id="add-announcement-form">
			<div class="form-row">
				<div class="col-md-12 form-group">
					<label for="announcement">Announcement</label>
					<input class="form-control" value="&lt;i aria-hidden='true' class='fa fa-birthday-cake'&gt;&lt;/i&gt; Welcome to the &lt;b&gt;new&lt;/b&gt; JupyterHub cluster! &lt;i aria-hidden='true' class='fa fa-exclamation-triangle'&gt;&lt;/i&gt;" required="required" type="text" id="announcement" name="announcement" oninput="previewAnnouncement()">
					<small class="form-text text-muted">The new announcement text. HTML is allowed! Take a look at the top of the page for a preview of the announcement.</small>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 form-group">
					<label for="severity">Severity</label>
					<select class="form-control" id="severity" name="severity" oninput="updateSeverity()">
						<option value="success">Success</option>
						<option value="info">Info</option>
						<option value="warning">Warning</option>
						<option value="danger">Danger</option>
					</select>
					<small class="form-text text-muted">The announcement severity</small>
				</div>
			</div>

			<div class="form-row">
				<div class="col-md-6 form-group">
					<label for="font_color">Text color</label>
					<input class="form-control" type="color" name="font_color" id="font_color" oninput="previewAnnouncement()" />
				</div>
				<div class="col-md-6 form-group">
					<label for="background_color">Background color</label>
					<input class="form-control" type="color" name="background_color" id="background_color" oninput="previewAnnouncement()" />
				</div>
			</div>
			
			<div class="form-row">
				<div class="col-md-6 form-group">
					<label for="show-after">Show after</label>
					<input class="form-control" required="required" type="datetime-local" id="show-after" name="show_after">
					<small class="form-text text-muted">Show the announcement after the specified date</small>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-6 form-group">
					<label for="show-until">Show until</label>
					<input class="form-control" required="required" type="datetime-local" id="show-until" name="show_until">
					<small class="form-text text-muted">Show the announcement until the specified date</small>
				</div>
			</div>
			<button type="button" id="add-announcement-button" class="btn btn-jupyter">Add</button>
		</form>
	</div>
{% endif %}
	<div class="row">
		<h3>Current</h3>
		<table id="announcements" class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Origin</th>
					<th>Announcement</th>
					<th>Severity</th>
					<th>Show after</th>
					<th>Show until</th>
					<th>Created by</th>
					<th>Created at</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
