{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="text-center">
		<h1>Coupons</h1>
	</div>
	<div class="row">
		<p>Coupon are a mechanism to invite users to join new groups. Administrators can create tokens and hand them to users. When redeemed, the user joins a specific set of groups.</p>
		<p>You ({{ user.name }}) are currently a member of the following groups:</p>
		<ul>
			{% for group in user.groups %}
			<li>{{ group }}</li>
			{% endfor %}
		</ul>
	</div>
{% if user.admin %}
	<div class="row">
		<h2>Create a new coupon</h2>
		<form id="create-coupon-form" class="col-md-offset-3 col-md-6">
			<div class="form-group">
				<label for="coupon-groups">Groups</label><br />
				<select multiple="multiple" id="groups" name="groups" class="form-control">
{% for group in groups | sort(attribute='users_count', reverse=True) %}
					<option value="{{ group.name }}">{{ group.name }} ({{ group.users_count }})</option>
{% endfor %}
				</select><br />
				<small class="form-text text-muted">Select from existing groups.</small>
				<input id="groups-new" name="groups_new" class="form-control" placeholder="a-new-group">
				<small class="form-text text-muted">or create new groups by providing a name here.</small>
			</div>
			<div class="form-available">
				<label for="coupon-available">Available uses</label>
				<input id="available" min="1" name="available" class="form-control" type="number" value="1">
				<small class="form-text text-muted">A limit how often this coupon can be used.</small>
			</div>
			<div class="form-valid-until">
				<label for="coupon-valid-until">Valid until</label>
				<input id="valid-until" name="valid-until" class="form-control" type="date" placeholder="2025-01-01">
				<small class="form-text text-muted">A date until this coupon can be redeemed.</small>
			</div>
			<div style="margin-top: 2em" class="text-center">
				<button type="submit" class="btn btn-lg btn-jupyter">Create new coupon</button>
			</div>
			<div style="margin-top: 2em" class="mb-3 alert" role="alert" id="create-result"></div>
		</form>
	</div>
{% endif %}
	<div class="row">
		<h2>Redem a coupon</h2>
		<form id="redeem-coupon-form" class="col-md-offset-3 col-md-6">
			<div class="form-group">
				<label for="coupon-coupon">Coupon token</label>
				<input id="coupon" name="coupon" class="form-control">
				<small class="form-text text-muted">The token of your coupon.</small>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-lg btn-jupyter">Redeem coupon</button>
			</div>
			<div style="margin-top: 2em" class="mb-3 alert" role="alert" id="redeem-result"></div>
		</form>
	</div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ service.prefix }}bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="{{ service.prefix }}bootstrap-multiselect.css" type="text/css"/>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}coupon.js"></script>
{% endblock %}
