{% extends "page.html" %}

{% block main %}
<div class="container link-wizard">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="text-center">
				<h1>Link Wizard</h1>
			</div>
			<form id="link-wizard-form">
				<div class="form-group">
					<label for="link-wizard-profile">Jupyter Profile</label>
					<select onchange="updateLink(event)" required="required" class="form-control" id="link-wizard-profile">
						<option selected="selected" value="">Select profile</option>
					</select>
				</div>
				<div class="form-group">
					<label for="link-wizard-path">Path to a notebook file</label>
						<input oninput="updateLink(event)" onkeydown="event.stopPropagation()" class="form-control" type="text" id="link-wizard-path" placeholder="Index.ipynb">
						<small class="form-text text-muted">(optional)</small>
					</div>
			</form>
			<div id="link-wizard-output">
				<h3>Link</h3>
				<pre id="link-wizard-direct-link"></pre>
				<h3>Badge</h3>
				<div id="link-wizard-badge"><img src="https://jupyter.pages.rwth-aachen.de/documentation/images/badge-launch-rwth-jupyter.svg" alt="RWTHjupyter badge"></div>
				<h5>Markdown Snippet</h5>
				<pre id="link-wizard-badge-md"></pre>
				<h5>HTML Snippet</h5>
				<pre id="link-wizard-badge-html"></pre>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ service.prefix }}link.css">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}link.js"></script>
{% endblock %}