{% macro sentence_case(text) %}
{{- text[0] | upper }}{{ text[1:] -}}
{% endmacro %}
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<title>RWTHjupyter Services</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ service.prefix }}/common.css">
	<link rel="stylesheet" href="{{ service.public_url }}/hub/static/css/style.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ service.public_url }}/services/announcement/announcement.css" type="text/css"/>

	<link rel="icon" href="{{ service.public_url }}/hub/static/favicon.ico" type="image/x-icon">
	<script src="{{ service.public_url }}/hub/static/components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ service.public_url }}/hub/static/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
{% block head %}
{% endblock %}
</head>

<body>
	<noscript>
		<div id='noscript'>
			JupyterHub requires JavaScript.<br>
			Please enable it to proceed.
		</div>
	</noscript>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span id="jupyterhub-logo" class="pull-left">
					<a href="{{ service.public_url }}/hub/"><img src='{{ service.public_url }}/hub/logo' alt='JupyterHub' class='jpy-logo' title='Home' /></a>
				</span>

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="thenavbar">
				<ul class="nav navbar-nav">
					<li><a href="{{ service.public_url }}/hub/home">Home</a></li>
					<li><a href="{{ service.public_url }}/hub/token">Token</a></li>
					<li><a href="{{ service.public_url }}/hub/admin">Admin</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Services<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% for svc in services %}
							<li><a class="dropdown-item" href="{{ service.public_url }}/services/{{ svc.name }}/">{{ sentence_case(svc.name) }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li><a href="{{ service.public_url }}/documentation/">Documentation</a></li>
					<li><a href="https://www.itc.rwth-aachen.de/cms/IT-Center/Footer/Service/~epvv/Impressum/?lidx=1">Imprint</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<span id="login_widget">
							<!-- <p class="navbar-text">vzi3jsam</p> -->
							<a id="logout" role="button" class="navbar-btn btn-sm btn btn-default" href="{{ service.public_url }}/hub/logout">
								<i aria-hidden="true" class="fa fa-sign-out"></i> Logout</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>

{% block main %}
{% endblock %}

{% block script %}
<script src="{{ service.prefix }}/common.js"></script>
<script src="{{ service.prefix }}/announcement.js"></script>
<script>
const public_url = '{{ service.public_url }}';
const prefix = '{{ service.prefix }}';
</script>
{% endblock %}
</body>
</html>