{% extends "page.html" %}

{% set page = args[0] %}

{% macro gravatar(mail) %}
{% set gravatar_url = 'https://www.gravatar.com' %}
<a href="{{ gravatar_url }}/{{ mail | lower | md5 }}"><img class="avatar" src="{{ gravatar_url }}/avatar/{{ mail | lower | md5 }}" /></a>
{% endmacro %}

{% macro active(apage) %}
{%- if page == apage %} class="active"{% endif -%}
{% endmacro %}

{% block main %}
<div class="container">
	<div class="navrow row">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" {{ active('list') }}>
				<a class="nav-link" href="{{ service.prefix }}list"><i aria-hidden="true" class="fa fa-list"></i>&nbsp;Profile List</a>
			</li>
			<li role="presentation" {{ active('build') }}>
				<a class="nav-link" href="{{ service.prefix }}build"><i aria-hidden="true" class="fa fa-wrench"></i>&nbsp;Re-build Profile</a>
			</li>
		</ul>
	</div>
	{% block content %}
	{% endblock %}
	{% if page != 'build' %}
	<hr />
	<p>Last update: {{ job.finished_at }} by {{ gravatar(job.commit.author_email) }}<a href="mailto:{{ job.commit.author_email }}">{{ job.commit.author_name }}</a> (<a href="{{ config.PROJECT_URL }}/-/commit/{{ job.commit.id }}">{{job.commit.short_id }}</a>):</p>
	<pre>{{ job.commit.message }}</pre>
	{% endif %}
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ service.prefix }}profile.css">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}profile.js"></script>
{% endblock %}