{% extends "profile.html" %}

{% block content %}
<h1>Profile List</h1>
<p>The <emph>RWTHjupyter</emph> cluster provides a variety of different profiles (run-time environments) for different Jupyter kernels or lectures.
The following list is automatically updated by our continous integration system.</p>

<h2>Dependency Graph</h2>
<div class="dependency-graph">
	<a href="graph.svg">
		<img src="graph.svg" alt="Dependency Graph" />
	</a>
	<small class="text-muted">(Click on graph for a larger version)</small>
</div>

<h2>List</h2>
<div class="profiles">
	<ul>
{% for profile in profiles %}
		<li><a href="/services/profile/details/{{ profile.slug }}">{{ profile.display_name }}</a></li>
{% endfor %}
	</ul>
<div>
{% endblock %}
