{% extends "profile.html" %}

{% block content %}
<div class="row text-center">
	<h2>Trigger a new build</h2>
	<p class="lead">Select an profile from the list below to rebuild its Docker image</p>
</div>
<div class="row text-center">
	<form id="build-form">
		<div class="form-group">
			<label for="slug">Profile</label>
			<div class="input-group profile-select">
				<select class="form-control" required="required" id="slug" name="slug">
					<option selected="selected" value="">Select profile</option>
				</select>
				<small class="form-text text-muted">Please note that only you can only trigger builds for profiles for which you own the manager role.</small>
			</div>
		</div>
		<div style="margin-top: 2em;" class="text-center">
			<button class="btn btn-lg btn-jupyter" type="submit">Trigger build of new Docker image</button>
		</div>
	</form>
</div>
<div class="row alert" role="alert" id="profile-build-result">
</div>
{% endblock %}
