{% extends "profile.html" %}

{% block content %}
<h1>{{ profile.display_name }} <span class="slug">#{{ profile.slug }}</span></h3>

<h2>Description</h4>
{% if 'description' in profile.course %}
<p>{{ profile.description }}</p>
{% else %}
<p>No description yet!</p>
{% endif %}

<table class="table table-striped">
	<thead>
		<th>Fact</th>
		<th>Value</th>
	</thead>
	<tbody>
		<tr>
			<td>Slug</td>
			<td>{{ profile.slug }}</td>
		</tr>

		{% if 'course' in profile %}
		{% if 'institute' in profile.course %}
		<tr>
			<td>Insitute</td>
			<td>{{ profile.course.institute }}</td>
		</tr>
		{% endif %}

		{% if 'base' in profile.image %}
		<tr>
			<td>Base</td>
			<td><a href="{{ service.prefix }}details/{{ profile.image.base }}">{{ profile.image.base }}</a></td>
		</tr>
		{% endif %}

		{% if 'studies' in profile.course %}
		<tr>
			<td>Course of Studies</td>
			<td>{{ profile.course.studies }}</td>
		</tr>
		{% endif %}

		{% if 'faculty' in profile.course %}
		<tr>
			<td>Faculty</td>
			<td><a href="{{ profile.course.faculty.url }}">{{ profile.course.faculty.name }}</a></td>
		</tr>
		{% endif %}

		{% endif %}
		<tr>
			<td>Last Build</td>
			<td>
				<table>
					<tr>
						<td>State</td>
						<td>
							<span class="build-badge {{ last_job.status }}">{{ last_job.status }}</span>
							<a href="{{ last_job.web_url }}">#{{ last_job.id }}</a></span>
						</td>
					</tr>
					<tr>
						<td>Commit</td>
						<td><a href="{{ last_job.commit.web_url }}">{{ last_job.commit.short_id }}</a> ({{ last_job.commit.message }})</span></td>
					</tr>
					<tr>
						<td>Date</td>
						<td>{{ last_job.finished_at or last_job.created_at }}</span></td>
					</tr>
{% if last_job.duration %}
					<tr>
						<td>Duration</td>
						<td>{{ last_job.duration }} seconds</span></td>
					</tr>
{% endif %}
					<tr>
						<td>Triggered by</td>
{% if last_pipeline_vars.TRIGGER_USER %}
						<td>
							{{ gravatar(last_pipeline_vars.TRIGGER_MAIL) }}
							<a href="mailto:{{ last_pipeline_vars.TRIGGER_MAIL }}">{{ last_pipeline_vars.TRIGGER_USERNAME }}</a>
						</td>
{% else %}
						<td>
							<a href="{{ last_job.user.web_url  }}">
								<img class="avatar" src="{{ last_job.user.avatar_url }}" />
								{{ last_job.user.name }} (@{{ last_job.user.username }})
							</a>
						</td>
{% endif %}
					</tr>
				</table>
			</td>
		</tr>

		{% if 'license' in profile %}
		<tr>
			<td>License</td>
			<td><a href="https://spdx.org/licenses/{{ profile.license }}.html">{{ profile.license }}</a></td>
		</tr>
		{% endif %}

		{% if 'copyright' in profile %}
		<tr>
			<td>Copyright</td>
			<td>{{ profile.copyright }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>

{% if profile.contacts | length > 0 %}
<h2>Contacts</h4>
<ul>
{% for contact in profile.contacts %}
	<li><a href="mailto:{{ contact.mail }}">{{ contact.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<h2>Links</h4>
<ul>
	<li><a href="{{ config.JUPYTERHUB_URL }}/hub/spawn?profile={{ profile.slug }}">Open Profile in JupyterHub</a></li>
{% if 'website' in profile.course %}
	<li><a href="{{ profile.course.website }}">Website</a></li>
{% endif %}
{% if 'repo' in profile.notebooks %}
	<li><a href="{{ profile.notebooks.repo.url}}">Notebooks</a></li>
{% endif %}
{% if 'repo' in profile.image %}
{% set pfx = 'blob' if 'github.com' in profile.image.repo.url else '-/tree' %}
{% set url = profile.image.repo.url | regex_replace('.git$', '') %}
	<li><a href="{{ url }}/{{ pfx }}/{{ profile.image.repo.ref }}{{ '/' + profile.image.context if profile.image.context != '.' }}/{{ profile.image.dockerfile }}">Dockerfile</a></li>
{% endif %}
	<li><a href="{{ config.PROJECT_URL }}/-/tree/master/{{ profile.fn }}">Profile Definition</a></li>
</ul>

<h2>Versions<h4>
{% set repos = {
	'pip': 'PyPI / pip',
	'conda': 'Anaconda',
	'jupyter-labextensions': 'Jupyter Lab Extensions',
	'jupyter-serverextensions': 'Jupyter Server / Notebook Extensions',
	'jupyter-kernelspecs': 'Jupyter Kernel'
} %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for repo, title in repos.items() %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-{{ repo }}">
			<h4 class="panel-title">
				<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ repo }}" aria-expanded="false" aria-controls="collapse-{{ repo }}">
				{{ title }}
				</a>
			</h4>
		</div>
		<div id="collapse-{{ repo }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ repo }}">
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Version</th>
						</tr>
					</thead>
					<tbody>
					{% for pkg in versions[repo] %}
						{% if repo == 'pip' %}
							{% set pkg_url = 'https://pypi.org/project/' + pkg.name + '/' + pkg.version + '/' %}
						{% elif repo == 'conda' %}
							{% set pkg_url = 'https://anaconda.org/anaconda/' + pkg.name %}
						{% elif repo == 'jupyter-labextensions' %}
							{% set pkg_url = 'https://www.npmjs.com/package/' + pkg.name + '/v/' + pkg.version %}
						{% elif repo == 'jupyter-serverextensions' %}
							{% set pkg_url = 'https://pypi.org/project/' + pkg.name + ('/' + pkg.version + '/' if pkg.version else '') %}
						{% endif %}
						<tr>
							
							<td>
								{% if pkg_url %}
								<a href="{{ pkg_url }}">{{ pkg.name }}</a>
								{% else %}
								{{ pkg.name }}
								{% endif %}
								</td>
							<td>
								{% if pkg.version %}
								{{ pkg.version }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<h2>Run locally</h4>
<p>Install Docker and run:</p>
<pre>$ docker run -p 8888:8888 {{ config.DOCKER_REGISTRY }}/{{ profile.slug }}</pre>
{% endblock %}