{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="row text-center">
		<h1>New Profile</h1>
	</div>
	<div class="row">
		<form id="add-profile-form" class="new-profile-form form-horizontal">
			<div class="form-group">
				<label for="slug" class="col-sm-2 control-label">Slug</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="potions" required="required" type="text" id="slug"
						name="slug">
					<small class="form-text text-muted">A short identifier for the profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="display-name" class="col-sm-2 control-label">Display Name</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="[Pot] Zaubertränke" required="required" type="text"
						id="display-name" name="display-name">
					<small class="form-text text-muted">A human-friendly name of the profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="description" class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="Magical Drafts and Potions." required="required"
						type="text" id="description" name="description">
					<small class="form-text text-muted">A description of the profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="priority" class="col-sm-2 control-label">Priority</label>
				<div class="col-sm-10">
					<input class="form-control" value="55" required="required" readonly type="number" id="priority"
						name="priority">
					<small class="form-text text-muted">A priority of the profile used for sorting the profile selection
						list.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="contacts" class="col-sm-2 control-label">Contacts</label>
				<div class="col-md-5">
					<label for="contact_name" class="control-label">Name</label>
					<input class="form-control"
					placeholder="Prof. Snape"
					required="required" type="text" id="contacts" name="contact_name">
				</div>
				<div class="col-md-5">
					<label for="contact_name" class="control-label">Email</label>
					<input class="form-control"
					placeholder="snape@hogwarts.edu"
					required="required" type="email" id="contacts" name="contact_name">
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<small class="form-text text-muted">A contact for this profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="license" class="col-sm-2 control-label">License</label>
				<div class="col-sm-10">
					<select class="form-control" id="license"
						name="license">
						<optgroup label="Special">
							<option value="All rights reserved">All rights reserved</option>
							<option value="AGPL-3.0+RWTH">AGPL-3.0+RWTH</option>
						</optgroup>
					</select>
					<small class="form-text text-muted">The license of the materials published with this
						profile.</small>
				</div>
			</div>

			<div class="form-group" class="col-sm-2 control-label">
				<label for="copyright" class="col-sm-2 control-label">Copyright</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="2020, Hogwarts Schule der Zauberei" required="required"
						type="text" id="copyright" name="copyright">
					<small class="form-text text-muted">A copyright notice for the materials of this profile.</small>
				</div>
			</div>

			<div class="form-group" class="col-sm-2 control-label">
				<label for="archive" class="col-sm-2 control-label">Archive</label>
				<div class="col-sm-10">
					<input class="form-check-input" required="required" type="checkbox" checked="checked" id="archive"
						name="archive" /> Yes<br>
					<small class="form-text text-muted">We will create a snapshot of the profile and its associated materials every semester.</small>
				</div>
			</div>

			<div class="form-group" class="col-sm-2 control-label">
				<label for="hidden" class="col-sm-2 control-label">Hidden</label>
				<div class="col-sm-10">
					<input class="form-check-input" required="required" type="checkbox" id="hidden"
						name="hidden" /> Yes<br>
					<small class="form-text text-muted">Should the profile be hidden from the global profile selection list?</small>
				</div>
			</div>

			<h3>Course</h3>

			<div class="form-group">
				<label for="course-type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<select class="form-control" id="course-type" name="course-type">
						<option value="lecture">Lecture</option>
						<option value="excercise">Excercise</option>
						<option value="lab">Lab</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="course-moodle-ids" class="col-sm-2 control-label">Moodle IDs</label>
				<div class="col-sm-10">
					<input class="form-control" required="required" type="text" id="course-type" name="course-type">
					<small class="form-text text-muted">A comma-separated list of Moodle IDs.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="course-moodle-ids" class="col-sm-2 control-label">Time</label>
				<div class="col-md-5">
					<label for="course-starts" class="control-label">Starts</label>
					<input class="form-control" required="required" type="date" id="course-starts"
						name="course-starts">
					<small class="form-text text-muted">A copyright notice for the materials of this
						profile.</small>
				</div>
				<div class="col-md-5">
					<label for="course-ends" class="control-label">Ends</label>
					<input class="form-control" required="required" type="date" id="course-ends"
						name="course-ends">
					<small class="form-text text-muted">A copyright notice for the materials of this
						profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="course-frequency" class="col-sm-2 control-label">Frequency</label>
				<div class="col-sm-10">
					<select class="form-control" id="course-frequency" name="course-frequency">
						<option value="daily">Daily</option>
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
						<option value="block">Block event</option>
						<option value="single">Single event</option>
					</select>
					<small class="form-text text-muted">A copyright notice for the materials of this profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="course-term" class="col-sm-2 control-label">Term</label>
				<div class="col-sm-10">
					<select class="form-control" id="course-term" name="course-term">
						<option value="summer">Summer</option>
						<option value="winter">Winter</option>
						<option value="both">Both</option>
					</select>
					<small class="form-text text-muted">In which term is the course offered?</small>
				</div>
			</div>

			<div class="form-group">
				<label for="course-usage" class="col-sm-2 control-label">Usage</label>
				<div class="col-sm-10">
					<input class="form-control" required="required" type="text" id="course-usage" name="course-usage">
					<small class="form-text text-muted">A copyright notice for the materials of this profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="course-faculty" class="col-sm-2 control-label">Faculty</label>
				<div class="col-sm-10">
					<select class="form-control" id="course-faculty"
						name="course-faculty">
						<option value="0">Others</option>
						<option value="1">Mathematics, Computer Science and Natural Sciences</option>
						<option value="2">Architecture</option>
						<option value="3">Civil Engineering</option>
						<option value="4">Mechanical Engineering</option>
						<option value="5">Georesources and Materials Engineering</option>
						<option value="6">Electrical Engineering and Information Technology</option>
						<option value="7">Arts and Humanities</option>
						<option value="8">School of Business and Economics</option>
						<option value="10">Medicine</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="course-institute" class="col-sm-2 control-label">Institute</label>
				<div class="col-sm-10">
					<input class="form-control" required="required" type="text" id="course-institute"
						name="course-institute">
				</div>
			</div>

			<div class="form-group">
				<label for="course-website" class="col-sm-2 control-label">Website</label>
				<div class="col-sm-10">
					<input class="form-control" required="required" type="text" id="course-website"
						name="course-website">
				</div>
			</div>

			<h3>Notebooks</h3>

			<div class="form-group">
				<label for="notebooks-pull" class="col-sm-2 control-label">Pull during spawn</label>
				<div class="col-sm-10">
					<input class="form-check-input" required="required" type="checkbox" id="notebooks-pull"
						name="notebooks-pull">
					<small class="form-text text-muted">Should we always update/pull the latest state of the Git repo containing the Notebooks?</small>
				</div>
			</div>

			<!-- 
	url: https://git.horwarts.edu/lectures/potions.git # TODO

	# In case the above Git repository is not public, we need a deploy key or
	# token to access its contents:
	# - The token or key will be shared with the students.
	#   So they should be treated as as public information.
	# - For internal/private GitLab repositories we recommend a deploy token:
	#   - The token needs read-access to the repository
	#   - Please provide the username and token in the username/passwords fields below
	#   - Checkout the GitLab documentation on how to create a new deploy token:
	#       https://docs.gitlab.com/ee/user/project/deploy-tokens/
	#
	# - For private GitHub repositories we recommend a deploy key (private SSH key)
	#    - Please provide the SSH key in the ssh_identity field below

-->

			<div class="form-group">
				<label for="notebooks-repo-url" class="col-sm-2 control-label">Git Repository</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="https://git.rwth-aachen.de/IENT/gdet3-demos.git"
						required="required" type="text" id="notebooks-repo-url" name="notebooks-repo-url">
				</div>
			</div>
  
			<div class="form-group">
				<label for="notebooks-index" class="col-sm-2 control-label">Index Notebook</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="index.ipynb"
						required="required" type="text" id="notebooks-index" name="notebooks-index">
					<small class="form-text text-muted">A notebook which will be opened initially after spawn.</small>
				</div>
			</div>

			<div class="form-group">
				<label for="image-repo-auth" class="col-sm-2 control-label">Authentification method</label>
				<div class="col-sm-10">
					<select class="form-control" id="image-repo-auth" name="image-repo-auth">
						<option value="password">Username / Password / Token</option>
						<option value="ssh">SSH Key</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Authentification</label>
				<div class="col-md-5">
					<label for="notebooks-repo-username" class="control-label">Username</label>
					<input class="form-control" required="required" type="text" id="notebooks-repo-username"
						name="notebooks-repo-username" />
				</div>
				<div class="col-md-5">
					<label for="notebooks-repo-password" class="control-label">Password</label>
					<input class="form-control" required="required" type="password" id="notebooks-repo-password"
						name="notebooks-repo-password" />
				</div>
			</div>

			<div class="form-group">
				<label for="notebooks-repo-ssh-key" class="col-sm-2 control-label">SSH Private Key</label>
				<div class="col-sm-10">
					<textarea class="form-control ssh-key" required="required" type="text" id="notebooks-repo-ssh-key"
						name="notebooks-repo-ssh-key">
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
NhAAAAAwEAAQAAAYEA4zCo36YdQ7zsRDT46KywreWGkD22uw3WzNVbGZB4tXfNwXnV1ymf
[ snip ]
ZuppwFEWQdC92ZAAAAFXN0djBnX2xvY2FsQGNhbS4wbC5kZQECAwQF</textarea>
					<small class="form-text text-muted">A short identifier for the profile.</small>
				</div>
			</div>

			<h3>Environment</h3>

			<div class="form-group">
				<label for="image-repo-url" class="col-sm-2 control-label">Git Repository</label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="https://git.rwth-aachen.de/IENT/gdet3-demos.git"
						required="required" type="text" id="image-repo-url" name="image-repo-url">
				</div>
			</div>

			<div class="form-group">
				<label for="image-repo-auth" class="col-sm-2 control-label">Authentification method</label>
				<div class="col-sm-10">
					<select class="form-control" id="image-repo-auth" name="image-repo-auth">
						<option value="password">Username / Password / Token</option>
						<option value="ssh">SSH Key</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Authentification</label>
				<div class="col-md-5">
					<label for="notebooks-repo-username" class="control-label">Username</label>
					<input class="form-control" required="required" type="text" id="image-repo-username"
						name="notebooks-repo-username" />
				</div>
				<div class="col-md-5">
					<label for="notebooks-repo-password" class="control-label">Password</label>
					<input class="form-control" required="required" type="password" id="image-repo-password"
						name="notebooks-repo-password" />
				</div>
			</div>

			<div class="form-group">
				<label for="image-repo-ssh-key" class="col-sm-2 control-label">SSH Private Key</label>
				<div class="col-sm-10">
					<textarea class="form-control ssh-key" required="required" type="text" id="image-repo-ssh-key"
						name="image-repo-ssh-key">
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
NhAAAAAwEAAQAAAYEA4zCo36YdQ7zsRDT46KywreWGkD22uw3WzNVbGZB4tXfNwXnV1ymf
[ snip ]
ZuppwFEWQdC92ZAAAAFXN0djBnX2xvY2FsQGNhbS4wbC5kZQECAwQF</textarea>
					<small class="form-text text-muted">A short identifier for the profile.</small>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Resources</label>
				<div class="col-sm-3">
					<label for="resources_memory" class="control-label">Memory (RAM)</label>
					<div class="input-group">
						<input class="form-control" value="4096" required="required" type="number"
							id="resources_memory" name="resources_memory">
						<span class="input-group-addon">MiB</span>
					</div>
					<small class="form-text text-muted">The amount of RAM allocated for servers using this
						profile.</small>
				</div>
				<div class="col-sm-3">
					<label for="resources_disk" class="control-label">Storage (Disk)</label>
					<div class="input-group">
						<input value="0.5" class="form-control" required="required" type="number" id="resources_memory"
							name="resources_memory">
						<span class="input-group-addon">GiB</span>
					</div>
					<small class="form-text text-muted">The amount of disk storage used approximately by the profile materials.</small>
				</div>
				<div class="col-sm-3">
					<label for="resources_gpus" class="control-label">GPUs</label><br>
					<input class="form-check-input" required="required" type="checkbox" id="resources_gpus"
						name="resources_gpus"> Yes<br>
					<small class="form-text text-muted">Does this profile reuquires GPUs?</small>
				</div>
			</div>

			<button type="button" id="add-profile-button" class="btn btn-jupyter">Add</button>
		</form>
	</div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ service.prefix }}/profile.css">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}/common.js"></script>
<script src="{{ service.prefix }}/profile.js"></script>
{% endblock %}