{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="row text-center">
		<h1>Shares</h1>
	</div>
	<div class="row">
		<h3>Existing shared folders</h3>
		<table id="shares" class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Mountpoint</th>
					<th>Type</th>
					<th>User</th>
					<th>Server</th>
					<th>Quota</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="row">
		<h3>Add a new shared folder</h3>
		<form id="add-share-form">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" maxlength="64" type="text" required="required" id="name" name="name" placeholder="My new Share">
				<small class="form-text text-muted">A descriptive name of the share.</small>
			</div>
			<div class="form-group">
				<label for="mountpoint">Mountpoint</label>
				<div class="input-group">
					<span class="input-group-addon" id="mountpoint-addon">/home/jovyan/shared/</span>
					<input class="form-control" type="text" required="required" pattern="[A-Za-z0-9-_]+" id="mountpoint" name="mountpoint" placeholder="myshare" aria-describedby="mountpoint-addon">
				</div>
				<small class="form-text text-muted">The mountpoint of the share. Must match <code>[A-Za-z0-9-_]+</code>.</small>
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				<select class="form-control" id="type" name="type" required="required">
					<option value="" selected="selected">Select a share type</option>
					<option value="pvc">RWTHjupyter Volume</option>
					<option value="sciebo">Sciebo</option>
					<option value="webdav">WebDAV</option>
				</select>
			</div>
			<div class="hidden" id="add-share-form-pvc">
				<div class="form-group">
					<label for="pvc-capacity">Capacity</label>
					<div class="input-group">
						<input class="form-control" type="number" value="4" min="0.1" max="25" step="0.1" id="pvc-capacity" name="pvc_capacity" value="1" aria-describedby="capacity-addon">
						<span class="input-group-addon" id="capacity-addon">GiB</span>
					</div>
				</div>
			</div>
			<div class="hidden" id="add-share-form-webdav">
				<div class="form-group">
					<label for="webdav-server">WebDAV Server</label>
					<input class="form-control" type="URL" id="webdav-server" name="webdav_server" placeholder="https://webdav.example.com">
				</div>
				<div class="form-group">
					<label for="webdav-share">WebDAV Share</label>
					<input class="form-control" type="text" id="webdav-share" name="webdav_share" pattern="\/.*" placeholder="/thesis">
				</div>
				<div class="form-group">
					<label for="webdav-username">WebDAV Username</label>
					<input class="form-control" type="text" minlength="1" id="webdav-username" name="webdav_username" placeholder="einstein" autocomplete="username">
					<small class="form-text text-muted">The WebDAV username.</small>
				</div>
				<div class="form-group">
					<label for="webdav-password">WebDAV Password</label>
					<input class="form-control" type="password" minlength="1" id="webdav-password" name="webdav_password" autocomplete="current-password">
					<small class="form-text text-muted">The WebDAV password. For Sciebo we recommend to create a <a href="https://doc.owncloud.com/server/10.6/user_manual/personal_settings/security.html#app-passwords-tokens">app password</a>.</small>
				</div>
			</div>
			<div class="hidden" id="add-share-form-sciebo">
				<div class="form-group">
					<label for="sciebo-server">University</label>
					<select class="form-control" id="sciebo-server" name="sciebo_server">
						<option>Select university</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sciebo-user-id">User ID</label>
					<input class="form-control" type="text" id="sciebo-user-id" name="sciebo_user_id">
				</div>
				<div class="form-group">
					<label for="sciebo-path">Path</label>
					<input class="form-control" type="text" required="required" pattern="[A-Za-z0-9-_/]+" id="sciebo-path" name="sciebo_path" value="/">
					<small class="form-text text-muted">A sub-path in your Sciebo account which should be mounted.</small>
				</div>
				<div class="form-group">
					<label for="sciebo-permissions">Permissions</label>
					<select class="form-control" id="sciebo-permissions" name="sciebo_permissions">
						<option value="31">All</option>
						<option value="15">Read/Write</option>
						<option value="1">Read</option>
						<option value="2">Update</option>
						<option value="4">Create</option>
						<option value="8">Delete</option>
						<!-- <option value="16">Share</option> -->
					</select>
				</div>
			</div>
			<button type="submit" id="add-share-button" class="btn btn-jupyter">Add new share</button>
		</form>
	</div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ service.prefix }}/share.css">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}/share.js"></script>
<script>
const sciebo_client_id = '{{ service.sciebo_client_id }}';
</script>
{% endblock %}