{% extends "page.html" %}

{% macro nav_item(slug, name, icon) %}
<li role="presentation" {% if args[0] == slug %}class="active"{% endif %}>
	<a href="{{ service.prefix }}{{ slug }}"><i aria-hidden="true" class="fa fa-{{ icon }}"></i> {{ name }}</a>
</li>
{%- endmacro %}

{% macro grafana(dashboard, from="now-1d", to="now", refresh="1m", theme="light", vars={}) %}
{% set args_qs = {
	'from': from,
	'to': to,
	'refresh': refresh,
	'theme': theme
} %}
{% for key, value in vars.items() %}
	{% do args_qs.update({'var-' + key:  value}) %}
{% endfor %}

<iframe
	src="https://grafana.jupyter.rwth-aachen.de/d/{{ dashboard }}?kiosk&{{ args_qs | toquerystring }}"
	width="100%" height="1600" frameborder="0" />
{% endmacro %}

{% block main %}
<div class="container statistics">
	<div class="row text-center">
		<h1>Statistics</h1>
	</div>
	<div class="navrow row">
		<ul class="nav nav-pills nav-justified">
			{{ nav_item('jupyterhub', 'JupyterHub', 'server') }}
			{{ nav_item('user', 'Jupyter User', 'user') }}
			{{ nav_item('k8s', 'Kubernetes', 'cloud') }}
			{{ nav_item('ceph', 'Ceph Storage', 'database') }}
			<li role="presentation">
				<a class="nav-link" href="https://grafana.jupyter.rwth-aachen.de/"><i aria-hidden="true" class="fa fa-area-chart"></i> Visit Grafana</a>
			</li>
		</ul>
	</div>
	<div class="row" id="grafana-dashboard">
{% if args[0] == 'jupyterhub' %}
	{{ grafana('AN4KQwWiz') }}
{% elif args[0] == 'user' %}
	{% set username = args[1] | default(user.name, true) %}
	{{ grafana('1sfZvYBMz', vars={
		'namespace': 'jhub-users',
		'pod': 'jupyter-' + username,
		'container': 'notebook'
	}) }}
{% elif args[0] == 'k8s' %}
	{{ grafana('kF2HDYBGz') }}
{% elif args[0] == 'ceph' %}
	{{ grafana('Xt1dDLBMk') }}
{% endif %}	
		</div>
	</div>
</div>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ service.prefix }}statistics.css">
{% endblock %}