{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="row text-center">
			<h1>Support Information</h1>
	</div>
	<div class="row" style="border: 1px solid #ccc; margin-bottom: 1em; padding: 1em">
		<h2 style="color: darkred; margin-top: 0"><i aria-hidden="true" class="fa fa-warning"></i> Data privacy notice <i aria-hidden="true" class="fa fa-warning"></i></h2>
		<p style="font-size: larger">
			The support information below includes the following personal identifiable information: 
		</p>
		<ul>
			<li>HTTP request headers including your browser version and cookies and client IP address</li>
			<li>RWTHjupyter user name</li>
			<li>RWTH mail addresses</li>
			<li>RWTH system identifiers (LMS-ID)</li>
			<li>RWTH affiliations</li>
			<li>Currently running Jupyter instances including:
				<ul>
					<li>The name of the started profile</li>
					<li>The time when the isntance was started</li>
					<li>The time when the last user activity was detected</li>
				</ul></url>
			</li>
		</ul>
	</div>
	{# <div class="row">
		<div class="form-group">
			<textarea class="form-control" id="support-code" style="white-space: pre-wrap">
				{{- user | tojson | b64encode -}}
			</textarea>
		</div>
		<p>Please copy the contents from the following text box to your support requests at <a href="mailto:servicedesk@itc.rwth-aachen.de">servicedesk@itc.rwth-aachen.de</a>.</p>
		<button type="button" onclick="clipSupportCode();" class="btn btn-jupyter"><i aria-hidden="true" class="fa fa-clipboard"></i> Copy to clipboard</button>
	</div> #}
	<div class="row text-center">
		<p style="font-size: larger">Please download your support information by clicking on the following button and attach it to your request at <a href="mailto:servicedesk@itc.rwth-aachen.de">servicedesk@itc.rwth-aachen.de</a>.</p>
		<a href="{{ service.prefix }}download" class="btn btn-jupyter btn-lg"><i aria-hidden="true" class="fa fa-download"></i> Download support information</a>
	</div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ service.prefix }}support.js"></script>
{% endblock %}