{% extends "page.html" %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>Who am I?</h1>
			<p>
				The following table displays all user details RWTHjupyter knows about you.
			</p>
		</div>
		<table class="table table-striped whoami">
			<tr>
				<td><i class="fa fa-id-badge"></i> Name</td>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<td><i class="fa fa-envelope"></i> E-Mail</td>
				<td><a href="mailto:{{ user.mail }}"></a>{{ user.mail }}</a></td>
			</tr>
			<tr>
				<td><i class="fa fa-fingerprint"></i> LMS-ID</td>
				<td>{{ user.ids['lms-id'] }}</td>
			</tr>
			<tr>
				<td>Type</td>
				<td><i class="fa fa-{{ 'user' if user.kind == 'user' else 'robot' }}"></i> {{ user.kind }}</td>
			</tr>
			<tr>
				<td><i class="fa fa-user-shield"></i> Admin</td>
				<td><i class="fa fa-{{ 'check' if user.admin else 'times' }}"></i> {{ 'yes' if user.admin else 'no' }}</td>
			</tr>
			<tr>
				<td><i class="fa fa-star-of-life"></i> Created</td>
				<td>{{ user.created.strftime('%Y-%m-%d %H:%M:%S %Z') }} ({{ user.created_human }})</td>
			</tr>
			<tr>
				<td><i class="fa fa-clock"></i> Last activity</td>
				<td>{{ user.last_activity.strftime('%Y-%m-%d %H:%M:%S %Z') }} ({{ user.last_activity_human }})</td>
			</tr>
			<tr>
				<td><i class="fa fa-calendar"></i> Moodle Courses</td>
				<td>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Roles</th>
								<th>Moodle-ID</th>
								<th>LV-ID</th>
								<th>Category</th>
								<th>Start</th>
								<th>End</th>
							</tr>
						</thead>
						<tbody>
							{% for course in user.moodle.courses %}
							<tr>
								<td>
								{%- if course.fullname_en -%}
									{%- if course.fullname_en == course.fullname_de -%}
										{{ course.fullname_en }}
									{%- else -%}
										{{ course.fullname_en }}<br />
										<span style="font-weight: normal">{{ course.fullname_de }}</span>
									{%- endif -%}
								{%- else -%}
									{{ course.fullname }}
								{%- endif -%}
								</td>
								<td>
								{%- for role in course.roles -%}
									{%- if role == 'l2pmanager' -%}
										Manager
									{% elif role == 'l2peditingtutor' -%}
										Editing Tutor
									{% elif role == 'l2ptutor' -%}
										Tutor
									{% elif role == 'l2pstudent' -%}
										Student
									{% elif role == 'l2pextra' -%}
										Extra
									{% else -%}
										{{ role }}
									{%- endif -%}
									{%- if not loop.last %}, {% endif -%}
								{%- endfor -%}
								</td>
								<td>
									<a title="RWTHmoodle" href="https://moodle.rwth-aachen.de/course/view.php?id={{ course.id }}">
										<img class="link-icon" src="{{ service.prefix }}/moodle_icon.svg" alt="RWTHmoodle" />
										{{ course.id }}
									</a>
								</td>
								<td>
								{%- set has_url = "https://online.rwth-aachen.de" in course.summary -%}
								{%- if has_url -%}
								<a title="RWTHonline" href="{{ course.summary }}">
									<img class="link-icon"  src="{{ service.prefix }}/rwth_online_icon.svg" alt="RWTHonline" />
									{%- if course.lvid %} [{{ course.lvid }}]{%- endif -%}
								</a>
								{%- endif -%}
								</td>
								<td>{{ course.categoryid }}</td>
								<td>{% if course.startdate %}{{ course.startdate.strftime('%Y-%m-%d') }}{% else %}unknown{% endif %}</td>
								<td>{% if course.enddate %}{{ course.enddate.strftime('%Y-%m-%d') }}{% else %}unknown{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</ul>
					</table>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-university"></i> Affiliations</td>
				<td>
					<ul>
					{% for affiliation in user.affiliations %}
					<li><tt>{{ affiliation }}</tt></li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-users"></i> Groups</td>
				<td>
					<ul>
					{% for group in user.groups %}
					<li><tt>{{ group }}</tt></li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
