.announcement {
	margin: -20px 0 20px 0;
	padding: 5px 0 5px 0;
	font-size: larger;
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid;
}

.announcement a {
	text-decoration: underline;
}