span.build-badge {
    border-radius: 8px;
    padding: 2px 6px;
    border: 1px solid;
}

span.success {
    border-color: rgb(109, 139, 109);
    background-color: rgb(215, 255, 215);
}

span.failed {
    border-color: rgb(107, 57, 57);
    background-color: rgb(252, 205, 205);
}

span.canceled {
    border-color: grey;
    background-color: lightgrey;
}

span.skipped {
    border-color: rgb(35, 35, 134);
    background-color: rgb(183, 207, 243);
}

span.manual {
    border-color: rgb(255, 221, 255);
    background-color: violet;
}


.slug {
    color: lightgray;
}

img.avatar {
    height: 24px;
    margin: 0 5px;
}

div.dependency-graph img {
    width: 100%
}

.profile-select {
	width: 50%;
	margin: 0 auto;
}


/* Form */

.ssh-key {
	height: 200px !important;
}

.new-profile-form .form-group div {
	/* padding: 0; */
}

#profile-build-result {
	margin-top: 30px;
}